body {
    background: whitesmoke;
    margin: 0 20px 0 20px;
}

div {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;

    padding: 1em;

    background: cornflowerblue;
}

#video_section {
    border-radius: 1em;
    height: 350px;

    background: white;

    margin-right: 1em;

    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: column;

}

#transcript_area p {
    white-space: pre-wrap;
    text-align: left;
    margin-left: 20px;
}

#buttons {

    padding-top: 40px;
    padding-bottom: 40px;

    border-radius: 1em;
    border-color: inherit;

    margin-top: .5em;
}

form {
    display: flex;
    flex-direction: column;

    text-align: center;

    border-radius: 1em;
    background: #BFDDE0;

    padding: 10px;
}

form input {
    padding: 10px;
}

form button {
    padding: 30px;
    border-radius: 1em;
    border-color: inherit;

    margin-top: 10px;
}

#transcript_area {
    border-radius: 1em;

    background: white;

    margin-left: 1em;

    text-align: center;
}